<!DOCTYPE html>
<html lang="en">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">   
   
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
 
    <title>Dynamic Hack | SIT, Tumkur</title>  
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="shortcut icon" href="mainimages/SIT-Tumkur-Logo.png" type="image/x-icon" >
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="css/responsive.css">
    <link rel="stylesheet" href="css/custom.css">
    <link rel="stylesheet" href="css/devfolio.css">
	<script src="js/modernizr.js"></script>
    <script type="text/javascript" src="https://addevent.com/libs/atc/1.6.1/atc.min.js" async defer></script>


    <style>
        #back {
            position: absolute;
            right: 0;
            bottom: 0;
            min-width: 100%; 
            min-height:100%;
        }

        #date {
            position: center;
            color: white;
        }
        #type {
            position: center;
            color: white;
        }
        #abstract {
            text-align: left;
        }
        #pic {
            float: left;
        }
    </style>
</head>

<body id="page-top" class="politics_version">

    <div id="preloader">
        <div id="main-ld">
			<div id="loader"></div>  
		</div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
      <div class="container">
        <img class="img-fluid" alt="" src="/mainimages/SIT-Tumkur-Logo_f.png" width=50 height=50 />
        <a href="hackathon.html">
            <h1 style="font-size: 2vw;" class="black-lives-matter">&ensp;DYNAMIC HACK 2021</h1>
        </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav text-uppercase ml-auto">
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger active" href="index.html">Dynamics</a>
              </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger active" href="#home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">About</a>
            </li>
            <li class="nav-item">
                <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#timeline">Timeline</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Registrtaion</a>
            </li>
			<li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#services">Sponsors</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#team">Team</a>
              </li>
          </ul>
        </div>
      </div>
    </nav>
	<section id="home" class="main-banner parallaxie" style="background: url('mainimages/covid_19_2.gif')">
		<div class="heading">
            <img src="mainimages/SIT-Tumkur-Logo_150.png"> <img src="mainimages/logo_130.png">
            <div>
                <br>
            </div>
            <h1>
                Siddaganga Institute of Technology
            </h1>
            <h3 class="cd-headline clip is-full-width">
				<span>Department of Computer Science and Engineering </span>
			</h3>
            <h2 id="date">Presents</h2>
            <h1>DYNAMIC HACK</h1>			
			<h3 class="cd-headline clip is-full-width">
				<span>EDUCATION IN PANDEMIC </span>
			</h3>
            <h2 id="date">5 June - 6 June, 2021</h2>
            <h2 id="type">A 48 hours, National Level Virtual Hackathon</h2>
		</div>
	</section>

    <div id="about" class="section wb" style="background: aliceblue;">
        <div class="container">	
            <div class="row">

                <div class="col-md-6">
                    <div class="message-box">                        
                        <h2 class="black-lives-matter">Siddaganga Institute of Technology, Tumkur</h2>
                        <p style="color: black;">
                            Siddaganga Institute of Technology (SIT), Tumkur is a private college that is affiliated with the Visvesvaraya Technological University or VTU. It was founded by his holyness Dr. Sree Sree Sivakumara Swamiji. SIT Tumkur has been given its autonomous status by the University Grants Commission, New Delhi, Government of the state, and VTU, Belagavi.  Approved by AICTE, it is one among the 130+ educational institutions run by the Sri Siddaganga Educational Society.
                        </p>
						<p style="color: black;">
                            
                        </p>
                        <a href="http://www.sit.ac.in/html/home.html" class="sim-btn hvr-bounce-to-top"><span>Learn More</span></a>
                        <p style="color: black;">

                        </p>
                        <p style="color: black;">
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="wow fadeIn">
                        <img src="mainimages/sit_tumkur.png" alt="" class="img-fluid img-rounded">
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div id="about" class="section wb" style="background: aliceblue;")">
        <div class="container">	
            <div class="row">
                <div class="col-md-6">
                    <div class="wow fadeIn">
                        <img style="width: 100%; height: 100%; display: block;" src="/mainimages/dynamic_hack1.png" alt="" class="img-fluid img-rounded">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="message-box">                        
                        <h2 class="black-lives-matter">Dynamic Hack</h2>
                        <p style="color: black;">
                            <b>Dynamic Hack</b> is a first ever hackathon to be conducted at national level by Dept. of Computer Science and Engineering, Siddaganga Institute of Technology, Tumkur. It will be hosted by Team Dynamics (Project Oriented Community) under the supervision of Dr. N R Sunitha, Professor, Dept. of CSE.
                        </p>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="services-inner-box" style="background: url('mainimages/dynamic.png');">
                                <div class="ser-icon">
                                  <i class="fa fa-clock-o"></i>
                                </div>
                                <h2 style="color: black;">48 hours hackathon</h2>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="services-inner-box" style="background: url('mainimages/dynamic.png');">
                                <div class="ser-icon">
                                    <i class="fa fa-rupee"></i>   
                                </div>
                                <h2 style="color: black;">Upto 35k cash prizes</h2>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="services-inner-box" style="background: url('mainimages/dynamic.png');">
                                <div class="ser-icon">
                                    <i class="fa fa-home"></i>  
                                </div>
                                <h2 style="color: black;">100% Virtual</h2>
                            </div>
                        </div>
                    </div>
                    <br>
                    <br>

                    <div class="container text-center">
                        <h2>Platforms</h2>
                        <div class="row">
                            <div class="col-md-4 col-sm-6 col-lg-4">
                                <a href="https://www.webex.com/">
                                    <img src="/mainimages/cisco.png" class="img-fluid">
                                </a>
                            </div>
                            <div class="col-md-4 col-sm-6 col-lg-4">
                                <a href="https://workspace.google.com/intl/en_in/products/meet/?utm_source=google&utm_medium=cpc&utm_campaign=1009882-Workspace-APAC-IN-en-BKWS-EXA-Golden&utm_content=text-ad-none-none-DEV_c-CRE_469259700156-ADGP_Hybrid%20%7C%20AW%20SEM%20%7C%20BKWS%20~%20EXA%20%7C%20Meet%20%7C%20%5BM:1%5D%20%7C%20IN%20%7C%20EN-KWID_43700057528828213-kwd-299356619278&userloc_9040188-network_g=&utm_term=KW_google%20meet&gclid=CjwKCAjw1uiEBhBzEiwAO9B_HZllBCle08zOWBWrsbBCBWlkAxj7ReC7hoCeEIwFGpGrXLImBS0vxxoCW0EQAvD_BwE&gclsrc=aw.ds">
                                    <img src="/mainimages/google-meet-logo1.png" class="img-fluid">
                                </a>
                            </div>
                            <div class="col-md-4 col-sm-6 col-lg-4">
                                <a href="https://discord.com/">
                                    <img src="/mainimages/discord.png" class="img-fluid">
                                </a>
                            </div>
                        </div>
                    </div>
                    

                    <br>
                    <br>
                    <div class="text-center">
                        <a href="#contact" class="sim-btn hvr-bounce-to-top"><span>Register</span></a>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="section wb" style="background: aliceblue;">
        <div class="container">
            <div class="section-title">
                <h3>Event/Registration Details</h3>
                <br>
                <p style="color: black;"><b>Download: </b><a style="color: darkgoldenrod;" href="https://docs.google.com/document/d/1w93BlytH1kfnlx01kVPg5vH8-9LIb3abJ5Mylskdzyk/edit?usp=sharing">click here</a></p>
            </div>

            <div class="section-title" id="abstract">
                <h3 id="abstract">Abstract Format</h3>
                <h2 style="color: black;" id="abstract">Download: <a style="color: darkgoldenrod;" href="https://docs.google.com/document/d/1w93BlytH1kfnlx01kVPg5vH8-9LIb3abJ5Mylskdzyk/edit?usp=sharing">click here</a></h2>
            </div>
        </div>
    </div>

    <div id="timeline" class="section wb" style="background: aliceblue;">
        <div class="section-title text-center">
            <h3 class="black-lives-matter">Timeline</h3>
        </div>
        <!-- <div class="timeline">
            <div class="container1 left">
              <div class="content" style="background: url('mainimages/dynamic.png');">
                <h2>10 May 2021</h2>
                <p style="color: black;">Registration Starts</p>
              </div>
            </div>
            <div class="container1 right">
              <div class="content" style="background: url('mainimages/dynamic.png');">
                <h2>  May 2021</h2>
                <p style="color: black;">Abstract Submission Starts</p>
              </div>
            </div>
            <div class="container1 left">
              <div class="content" style="background: url('mainimages/dynamic.png');">
                <h2> May 2021</h2>
                <p style="color: black;">Introductory Event</p>
              </div>
            </div>
        </div> -->
        <div class="timeline">
            <div class="container1 left">
              <div class="content" style="background: url('mainimages/dynamic.png');">
                <h2>10 May 2021</h2>
                <p style="color: black;">Registration Starts</p>
              </div>
            </div>
            <div class="container1 right">
              <div class="content" style="background: url('mainimages/dynamic.png');">
                <h2>  May 2021</h2>
                <p style="color: black;">Abstract Submission Starts</p>
              </div>
            </div>
              <div class="container1 left">
              <div class="content" style="background: url('mainimages/dynamic.png');">
                <h2> May 2021</h2>
                <p style="color: black;">Introductory Event</p>
              </div>
            </div>
          </div>
    </div>
    <div id="contact" class="section wb" style="background: url('/mainimages/reg_2.jpg')">
        <div class="container">
            <div class="section-title text-center">
                <h3 id="headline">As registration rules have been changed, it will be live Tomorrow!!</h3>
                <h2 id="subheadline">!Sorry for the incovenience!</h2>
                <div id="countdown" class="text-center">
                    <ul>
                      <li class="d"><span style="color: black;" id="days"></span>Days</li>
                      <li class="d"><span style="color: black;" id="hours"></span>Hours</li>
                      <li class="d"><span style="color: black;" id="minutes"></span>Minutes</li>
                      <li class="d"><span style="color: black;" id="seconds"></span>Seconds</li>
                    </ul>
                </div>
                <!-- <div title="Add to Calendar" class="addeventatc" style="background:aliceblue;">
                    <b>Add to Calendar</b>
                    <span class="start">05/17/2021 10:00 AM</span>
                    <span class="end">05/31/2021 5:00 PM</span>
                    <span class="timezone">Kolkata/India</span>
                    <span class="title">Dynamic Hack Registration</span>
                    <span class="description"><b>Dynamic Hack 2021, 48 hours National Level Virtual Hackathon organized by Dept. of Computer Science and Engineering, Siddaganga Institute of Technology, Tumkur, Karnataka.</b></span>
                    <span class="location">India</span>
                </div> -->

                
                <a href="https://add.eventable.com/events/6098d422a6a7a4001afc7ef4/6098d425b2c9b80017863779" class="sim-btn hvr-bounce-to-top" target="_blank" data-key="6098d422a6a7a4001afc7ef4" data-event="6098d425b2c9b80017863779" data-style="1">Add to Calendar</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://plugins.eventable.com/eventable.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script', 'eventable-script');</script>

            </div>
            
        </div>
    </div>
    <div id="contact" class="section db" style="background: aliceblue;">
        <div class="container">
            <div class="section-title text-center">
                <h3 class="black-lives-matter">Registration & Abstract Submission</h3>
                <h2 style="color: darkred;"><b>(Please read the instructions from the above downloaded brochure clearly before registering your team. Violation of rules will lead to disqualification.)</b></h2>
            </div>
            <form class="contact_form" th:action="@{/dynamics/events/addRobotics}" th:object="${roboticsUser}" method="post">
                <div class="form-group">
                    <label class="form-label" for="teamname">Team Name</label>
                    <input type="text" id="teamname" class="form-control" th:field="*{firstName}" required>
                </div>
                <div class="form-group">
                    <label class="form-label" for="teamleader">Team Leader</label>
                    <input type="text" id="teamleader" class="form-control" th:field="*{firstName}" required>
                </div>
                <div class="form-group">
                    <label class="form-label" for="member1">Member 1</label>
                    <input type="text" id="member1" class="form-control" required>
                </div>
                <div class="form-group">
                    <label class="form-label" for="member2">Member 2</label>
                    <input type="text" id="member2" class="form-control">
                </div>
                <div class="form-group">
                    <label class="form-label" for="member3">Member 3</label>
                    <input type="text" id="member3" class="form-control">
                </div>
                <div class="form-group">
                    <label class="form-label" for="college">College</label>
                    <input type="text" id="college" class="form-control" required>
                </div>
                <div class="form-group">
                    <label class="form-label cf">Year</label>
                    <select class="form-control" required>
                        <option value="0">---------</option>
                        <option value="1st Year"> 1st Year </option>
                        <option value="2nd Year"> 2nd Year </option>
                        <option value="3rd Year"> 3rd Year </option>
                        <option value="4th Year"> 4th Year </option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-label">Branch</label>
                    <select id="branch" onchange="insertValue()" class="form-control"required>
                        <option value="0">---------</option>
                        <option value="BIO">Bio Technology</option>
                        <option value="CHEM">Chemical Engineering</option>
                        <option value="CIVIL">Civil Engineering</option>
                        <option value="CSE"> Computer ScienceEngineering </option>
                        <option value="ISE">Information Science Engineering</option>
                        <option value="EEE">Electrical Electronics Engineering</option>
                        <option value="ECE">Electronics Communication Engineering</option>
                        <option value="EIE">Electronics Instrumentation Engineering</option>
                        <option value="MECH">Mechanical Engineering</option>
                        <option value="TEL">Telecommunication Engineering</option>
                        <option value="OTHERS">Others</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-label" for="email">Email (Team Leader)</label>
                    <input type="email" id="email" class="form-control" required>
                </div>
                <div class="form-group">
                    <label class="form-label" for="email_1">Email (Member1)</label>
                    <input type="email" id="email_1" class="form-control" required>
                </div>
                <div class="form-group">
                    <label class="form-label" for="email_2">Email (Member2)</label>
                    <input type="email" id="email_2" class="form-control">
                </div>
                <div class="form-group">
                    <label class="form-label" for="email_3">Email (Member3)</label>
                    <input type="email" id="email_3" class="form-control">
                </div>
                <div class="form-group">
                    <label class="form-label" for="tel">Contact (Team Leader</label>
                    <input type="tel" id="tel" class="form-control" required>
                </div>
                <div class="form-group">
                    <label class="form-label" for="tel1">Contact (Member1)</label>
                    <input type="tel" id="tel1" class="form-control" required>
                </div>
                <div class="form-group">
                    <label class="form-label" for="tel2">Contact (Member2)</label>
                    <input type="tel" id="tel2" class="form-control">
                </div>
                <div class="form-group">
                    <label class="form-label" for="tel3">Contact (Member3)</label>
                    <input type="tel" id="tel3" class="form-control">
                </div>
                <div class="col-lg-12 text-center">
                    <input type="submit" class="sim-btn hvr-bounce-to-top" value="Register">
                    <input type="reset" class="sim-btn hvr-bounce-to-top" value="Clear">
                </div>
            </form>
        </div>
    </div>

    <div id="services" class="section lb" style="background-color: aliceblue;">
        <div class="container">
            <div class="section-title text-center">
                <h3 class="black-lives-matter">Sponsors</h3>
            </div>
            <div class="section-title">
                <h2 id="abstract">Platinum Sponsors</h2>
            </div>
    
            <div class="row">
                <div class="col-md-4 col-sm-6 col-lg-4">
                    <a href="http://csi-india.org.in/">
                        <img src="mainimages/csi.png" class="img-fluid">
                    </a>
                </div>
                <div class="col-md-4 col-sm-6 col-lg-4">
                    <a href="https://devfolio.co/home/">
                        <img src="mainimages/devfolio_1.png" class="img-fluid">
                    </a>
                </div>
            </div>
            <div>
                <br>
            </div>
            <div>
                <br>
            </div>
            <div class="section-title">
                <h2 id="abstract">Gold Sponsors</h2>
            </div>
        
            <div class="row">
                <div class="col-md-4 col-sm-6 col-lg-4">
                    <a href="https://polygon.technology/">
                        <img src="mainimages/polygon.png" class="img-fluid">
                    </a>
                </div>
                <div class="col-md-4 col-sm-6 col-lg-4">
                    <a href="https://www.portis.io">
                        <img src="mainimages/portis_1.png" class="img-fluid">
                    </a>
                </div>
                <div class="col-md-4 col-sm-6 col-lg-4">
                    <a href="https://tezos.com">
                        <img src="mainimages/tezoz.png" class="img-fluid">
                    </a>
                </div>
                <div class="col-md-4 col-sm-6 col-lg-4" style="position: sticky;">
                    <a href="https://celo.org ">
                        <img src="mainimages/celo.png" class="img-fluid">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div id="team" class="section lb" style="background: aliceblue;">
        <div class="container">
            <div class="section-title text-center">
                <h3 class="black-lives-matter">Our Team</h3>
            </div>
            <div class="gallery-menu row">
                <div class="col-md-12">
                    <div class="button-group filter-button-group text-center">

                        <button data-filter=".gal_a">Faculty Coordinators</button>
                        <div>
                            <br>
                        </div>
                        <button data-filter=".gal_b">Chief Organizers</button>
                        <button data-filter=".gal_c">Design</button>
                        <div>
                            <br>
                        </div>
                        <button data-filter=".gal_d">Website</button>
                        <button data-filter=".gal_e">Broadcasting</button>
                        <button data-filter=".gal_f">Orators</button>
                    </div>
                </div>
            </div>
            <div>
                <br>
            </div>
    
            <div class="gallery-list row">
                <!-- <div class="col-md-4 col-sm-6 gallery-grid gal_a">
                    <div class="gallery-single fix">
                        <img src="mainimages/Final.jpg" class="img-fluid" alt="Image">
                        <div class="img-overlay">
                            <a href="mainimages/Final.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="fa fa-picture-o"></i></a>
                        </div>
                        
                    </div>
                </div> -->
                <div class="col-md-3 col-sm-6 gallery-grid gal_a">
                    <div class="our-team">
                        <div class="pic">
                            <img src="mainimages/Mam.jpeg">
                        </div>
                        <div class="team-content">
                            <h3 class="title">Dr. Sunitha. N R</h3>
                            <span class="post">Professor CSE</span>
                            <ul class="social">
    
                                <li><a href="http://sit.irins.org/profile/90839" class="fa fa-user"></a></li>
                                <li><a href="https://www.linkedin.com/in/sunitha-n-r-23a77062" class="fa fa-linkedin"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 gallery-grid gal_b gallery-grid gal_d">
                    <div class="our-team">
                        <div class="pic">
                            <img src="mainimages/Akash.jpg">
                        </div>
                        <div class="team-content">
                            <h3 class="title">Akash</h3>
                            <span class="post">CSE Third</span>
                            <ul class="social">
                                <li><a href="https://www.linkedin.com/in/akashranjan-das-8a5370169/" class="fa fa-linkedin"></a></li>
                                <li><a href="https://github.com/akashdecoder" class="fa fa-github"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 gallery-grid gal_b gallery-grid gal_d">
                    <div class="our-team">
                        <div class="pic">
                            <img src="mainimages/Aman.jpg">
                        </div>
                        <div class="team-content">
                            <h3 class="title">Aman</h3>
                            <span class="post">CSE Third</span>
                            <ul class="social">
                                <li><a href="https://www.linkedin.com/in/aman-jaiswal-27232617b" class="fa fa-linkedin"></a></li>
                                <li><a href="https://github.com/imamanjaiswal" class="fa fa-github"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 gallery-grid gal_b gallery-grid gal_c gallery-grid gal_f">
                    <div class="our-team">
                        <div class="pic">
                            <img src="mainimages/akanksha.jpg">
                        </div>
                        <div class="team-content">
                            <h3 class="title">Akanksha</h3>
                            <span class="post">CSE Third</span>
                            <ul class="social">
    
                                <li><a href="https://www.linkedin.com/in/akanksha-srivastava-44874a166/" class="fa fa-linkedin"></a></li>
                                <li><a href="https://github.com/akankshasrivastava-98" class="fa fa-github"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 gallery-grid gal_b gallery-grid gal_f">
                    <div class="our-team">
                        <div class="pic">
                            <img src="mainimages/Siri.jpg">
                        </div>
                        <div class="team-content">
                            <h3 class="title">Siri</h3>
                            <span class="post">CSE Third</span>
                            <ul class="social">
    
                                <li><a href="https://www.linkedin.com/in/siri-ayanur-544a19190/" class="fa fa-linkedin"></a></li>
                                <li><a href="https://github.com/Siriayanur" class="fa fa-github"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 gallery-grid gal_e">
                    <div class="our-team">
                        <div class="pic">
                            <img src="mainimages/Kushala.jpg">
                        </div>
                        <div class="team-content">
                            <h3 class="title">Kushala</h3>
                            <span class="post">CSE Third</span>
                            <ul class="social">
    
                                <li><a href="https://www.linkedin.com/in/kushala-r-471653191" class="fa fa-linkedin"></a></li>
                                <li><a href="https://github.com/Kushala-R" class="fa fa-github"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 gallery-grid gal_c">
                    <div class="our-team">
                        <div class="pic">
                            <img src="mainimages/Keerthana Bidare.jpg">
                        </div>
                        <div class="team-content">
                            <h3 class="title">Keerthana</h3>
                            <span class="post">ECE Third</span>
                            <ul class="social">
    
                                <li><a href="https://www.linkedin.com/in/keerthana-s-bidare-18778b167" class="fa fa-linkedin"></a></li>
                                <li><a href="https://github.com/keerbidare" class="fa fa-github"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 gallery-grid gal_e">
                    <div class="our-team">
                        <div class="pic">
                            <img src="mainimages/Niranjan.jpg">
                        </div>
                        <div class="team-content">
                            <h3 class="title">Niranjan</h3>
                            <span class="post">EIE Third</span>
                            <ul class="social">
    
                                <li><a href="https://www.linkedin.com/in/niranjan-sharma-a937341a2" class="fa fa-linkedin"></a></li>
                                <li><a href="https://github.com/Niranjansharma105" class="fa fa-github"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 gallery-grid gal_e">
                    <div class="our-team">
                        <div class="pic">
                            <img src="mainimages/naveen.jpg">
                        </div>
                        <div class="team-content">
                            <h3 class="title">Naveen</h3>
                            <span class="post">EIE Third</span>
                            <ul class="social">
    
                                <li><a href="https://www.linkedin.com/in/naveen-t-1599a31a2" class="fa fa-linkedin"></a></li>
                                <li><a href="https://github.com/NaveenTacharya" class="fa fa-github"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 gallery-grid gal_c">
                    <div class="our-team">
                        <div class="pic">
                            <img src="mainimages/lokashree.jpg">
                        </div>
                        <div class="team-content">
                            <h3 class="title">Lokashree</h3>
                            <span class="post">EIE Third</span>
                            <ul class="social">
    
                                <li><a href="https://www.linkedin.com/in/lokashree-basavaraju-06a5831a2/" class="fa fa-linkedin"></a></li>
                                <li><a href="https://github.com/LOKASHREE1510" class="fa fa-github"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 gallery-grid gal_d gallery-grid gal_f">
                    <div class="our-team">
                        <div class="pic">
                            <img src="mainimages/Khalid.jpeg">
                        </div>
                        <div class="team-content">
                            <h3 class="title">Khalid</h3>
                            <span class="post">CSE Third</span>
                            <ul class="social">
    
                                <li><a href="https://www.linkedin.com/in/khalid-farooq-886990173/" class="fa fa-linkedin"></a></li>
                                <li><a href="https://github.com/khalidfarooq" class="fa fa-github"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 gallery-grid gal_c">
                    <div class="our-team">
                        <div class="pic">
                            <img src="mainimages/Anoop.jpg">
                        </div>
                        <div class="team-content">
                            <h3 class="title">Anoop</h3>
                            <span class="post">CSE Third</span>
                            <ul class="social">
    
                                <li><a href="https://www.linkedin.com/in/anoop-kumar-s-s-840622175" class="fa fa-linkedin"></a></li>
                                <li><a href="https://github.com/anoopkumar1223" class="fa fa-github"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 gallery-grid gal_e">
                    <div class="our-team">
                        <div class="pic">
                            <img src="mainimages/Prerna.jpg">
                        </div>
                        <div class="team-content">
                            <h3 class="title">Prerna</h3>
                            <span class="post">CSE Third</span>
                            <ul class="social">
    
                                <li><a href="https://www.linkedin.com/in/prerana-shetty-26a987192" class="fa fa-linkedin"></a></li>
                                <li><a href="https://github.com/preranashetty" class="fa fa-github"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 gallery-grid gal_c">
                    <div class="our-team">
                        <div class="pic">
                            <img src="mainimages/Swaroop.jpg">
                        </div>
                        <div class="team-content">
                            <h3 class="title">Swaroop</h3>
                            <span class="post">CSE Third</span>
                            <ul class="social">
    
                                <li><a href="https://www.linkedin.com/in/swaroop-rk-b1586317a" class="fa fa-linkedin"></a></li>
                                <li><a href="https://github.com/swarooprk7" class="fa fa-github"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 gallery-grid gal_f">
                    <div class="our-team">
                        <div class="pic">
                            <img src="mainimages/rakshita.jpg">
                        </div>
                        <div class="team-content">
                            <h3 class="title">Rakshita</h3>
                            <span class="post">CSE Third</span>
                            <ul class="social">
    
                                <li><a href="#" class="fa fa-linkedin"></a></li>
                                <li><a href="https://github.com/rakshita-b" class="fa fa-github"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 gallery-grid gal_f">
                    <div class="our-team">
                        <div class="pic">
                            <img src="mainimages/Debjyoti Roy.jpg">
                        </div>
                        <div class="team-content">
                            <h3 class="title">Debjyoti</h3>
                            <span class="post">CHE Third</span>
                            <ul class="social">
    
                                <li><a href="#" class="fa fa-linkedin"></a></li>
                                <li><a href="#" class="fa fa-github"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    

<div class="copyrights">
    <div class="container">
        <div class="footer-distributed">
            <a href="#"><img src="mainimages/SIT-Tumkur-Logo.png" alt="" /></a>
            <div class="footer-center">
                <p class="footer-links">
                    <a href="http://sit.ac.in/html/home.html">SIT Tumkur</a>
                    <a href="code_of_conduct.html">Code of Conduct</a>
                    <a href="privacy_policy.html">Privacy Policy</a>
                </p>
                <p class="footer-company-name">All Rights Reserved. &copy; 2021  <a href="http://sit.ac.in/html/home.html">Siddaganga Institute of Technology</a></p>
            </div>
        </div>
    </div>
</div>

    <a href="#" id="scroll-to-top" class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>



    
    <script src="js/extras.js"></script>
    <script src="js/all.js"></script>
	<script src="js/jquery.mobile.customized.min.js"></script>
	<script src="js/jquery.easing.1.3.js"></script> 
	<script src="js/parallaxie.js"></script>
	<script src="js/headline.js"></script>
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>
    <script src="js/custom.js"></script>
    <script src="js/jquery.vide.js"></script>
    <script src="js/countdown.js"></script>

</body>
</html>