<!DOCTYPE html>
<html lang="en">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">   
   
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
 
    <title>Dynamics Events | Hackathon</title>  
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="shortcut icon" href="mainimages/logo_150.png" type="image/x-icon" >
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="css/responsive.css">
    <link rel="stylesheet" href="css/custom.css">
    <link rel="stylesheet" href="css/devfolio.css">
	<script src="js/modernizr.js"></script> 

    <style>
        #back {
            position: absolute;
            right: 0;
            bottom: 0;
            min-width: 100%; 
            min-height:100%;
        }

        #date {
            position: center;
            color: white;
        }
        #type {
            position: center;
            color: white;
        }
        #abstract {
            text-align: right;
        }
    </style>
</head>

<body id="page-top" class="politics_version">

    <div id="preloader">
        <div id="main-ld">
			<div id="loader"></div>  
		</div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">
			<img class="img-fluid" alt="" />
		</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav text-uppercase ml-auto">
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger active" href="index.html">Dynamics</a>
              </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger active" href="#home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Registrtaion</a>
            </li>
			<li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#services">Sponsors</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
	
    <video autoplay muted loop id="back">
        <source src="videos/mov_bbb.mp4" type="video/mp4">
    </video>

	<section id="home" class="main-banner parallaxie" style="background: url('')">
		<div class="heading">
            <img src="mainimages/SIT-Tumkur-Logo.png"> <img src="mainimages/logo_180.png">
			<h1>DYNAMIC HACK</h1>			
			<h3 class="cd-headline clip is-full-width">
				<span>EDUCATION IN PANDEMIC </span>
			</h3>
            <h2 id="date">5 June - 6 June, 2021</h2>
            <h2 id="type">A 48 hours, National Level Virtual Hackathon</h2>
		</div>
	</section>

    <div id="about" class="section wb">
        <div class="container">	
            <div class="row">
                <div class="col-md-6">
                    <div class="message-box">                        
                        <h2>Dynamic Hack</h2>
                        <p>
                            <b>Dynamic Hack</b> is a first ever hackathon to be conducted at national level by Dept. of Computer Science and Engineering, Siddaganga Institute of Technology, Tumkur. It will be hosted by Team Dynamics (Project Oriented Community) under the supervision of Dr. N R Sunitha, Professor, Dept. of CSE.
                        </p>
						<p>
                            This hackathon is based on the theme regarding the recent outbreak of <b>CORONA VIRUS</b> which has led to a global pandemic. It has affected many aspects of human life, ex: employment, education, shelter etc.
                        </p>
                        <p>
                            Education is one of the essential elements in building an individual's career. It must be imparted to every individual in the right way without any compromise, be it through offline mode or an online mode.
                        </p>
                        <p>
                            Though our world has already shown a great improvement in technological advancements to make the virtual mode as reliable as possible. We still urge to find better solutions to improve the ways by which education could be fruitful to individuals during these kinds of global pandemics.
                        </p>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="right-box-pro wow fadeIn">
                        <img src="mainimages/dynamic_hack.png" alt="" class="img-fluid img-rounded">
                    </div>
                </div>
            </div>
        </div>
    </div>
	
    <div class="sectio-db">
        <div class="container">
            <div class="section-title">
                <h3>Event/Registration Details</h3>
                <p>
                    <b>Instructions</b> 
                </p>
                <p>
                    1. All the participants should register themselves as a team, which comprises minimum of 2 members and maximum of 4 members.
                </p>
                <p>
                    2. The team should have a unique name and a team leader whom the event organizer will contact.
                </p>
                <p>
                    3. Avoid registering more than once. 
                </p>
                <br>
                <p><b>Download: </b><a href="https://docs.google.com/document/d/1w93BlytH1kfnlx01kVPg5vH8-9LIb3abJ5Mylskdzyk/edit?usp=sharing">click here</a></p>
            </div>
        </div>
    </div>

    <div class="sectio-db">
        <div class="container">
            <div class="section-title" id="abstract">
                <h3 id="abstract">Abstract Format</h3>
                <h2 id="abstract">Download: <a href="https://docs.google.com/document/d/1w93BlytH1kfnlx01kVPg5vH8-9LIb3abJ5Mylskdzyk/edit?usp=sharing">click here</a></h2>
            </div>
        </div>
    </div>

    <div id="contact" class="section db" style="background: mediumaquamarine;">
        <div class="container">
            <div class="section-title text-center">
                <h3>Register Your Team</h3>
                <h2>(Please read the instructions from the above downloaded file clearly before registering)</h2>
            </div>
            <form class="contact_form" th:action="@{/dynamics/events/addRobotics}" th:object="${roboticsUser}" method="post">
                <div class="form-group">
                    <label class="form-label" for="teamname">Team Name</label>
                    <input type="text" id="teamname" class="form-control" th:field="*{firstName}" required>
                </div>
                <div class="form-group">
                    <label class="form-label" for="teamleader">Team Leader</label>
                    <input type="text" id="teamleader" class="form-control" th:field="*{firstName}" required>
                </div>
                <div class="form-group">
                    <label class="form-label" for="member1">Member 1</label>
                    <input type="text" id="member1" class="form-control" required>
                </div>
                <div class="form-group">
                    <label class="form-label" for="member2">Member 2</label>
                    <input type="text" id="member2" class="form-control">
                </div>
                <div class="form-group">
                    <label class="form-label" for="member3">Member 3</label>
                    <input type="text" id="member3" class="form-control">
                </div>
                <div class="form-group">
                    <label class="form-label" for="college">College</label>
                    <input type="text" id="college" class="form-control" required>
                </div>
                <div class="form-group">
                    <label class="form-label cf">Year</label>
                    <select class="form-control" required>
                        <option value="0">---------</option>
                        <option value="1st Year"> 1st Year </option>
                        <option value="2nd Year"> 2nd Year </option>
                        <option value="3rd Year"> 3rd Year </option>
                        <option value="4th Year"> 4th Year </option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-label">Branch</label>
                    <select class="form-control"required>
                        <option value="0">---------</option>
                        <option value="BIO">Bio Technology</option>
                        <option value="CHEM">Chemical Engineering</option>
                        <option value="CIVIL">Civil Engineering</option>
                        <option value="CSE"> Computer ScienceEngineering </option>
                        <option value="ISE">Information Science Engineering</option>
                        <option value="EEE">Electrical Electronics Engineering</option>
                        <option value="ECE">Electronics Communication Engineering</option>
                        <option value="EIE">Electronics Instrumentation Engineering</option>
                        <option value="MECH">Mechanical Engineering</option>
                        <option value="TEL">Telecommunication Engineering</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-label" for="email">Email (College)</label>
                    <input type="email" id="email" class="form-control" required>
                </div>
                <div class="form-group">
                    <label class="form-label" for="email_alt">Email (Alternate)</label>
                    <input type="email" id="email_alt" class="form-control">
                </div>
                <div class="form-group">
                    <label class="form-label" for="tel">Contact</label>
                    <input type="tel" id="tel" class="form-control" required>
                </div>
                <div class="form-group">
                    <label class="form-label" for="tel1">Contact (Alternate)</label>
                    <input type="tel" id="tel1" class="form-control" required>
                </div>
                <div class="col-lg-12 text-center">
                    <input type="submit" class="sim-btn hvr-bounce-to-top" value="Register">
                    <input type="reset" class="sim-btn hvr-bounce-to-top" value="Clear">
                </div>
            </form>
        </div>
    </div>

    <div id="services" class="section lb">
        <div class="container">
           <div class="section-title text-center">
               <h3>Sponsors</h3>
               <p></p>
           </div>
    
            <div class="row">
                <div class="col-md-4 col-sm-6 col-lg-4">
                    <div class="post-box">
                        <div class="post-thumb">
                            <img src="mainimages/devfolio.png" class="img-fluid" alt="post-img" />
    <!--                        <div class="date">-->
    <!--                            <span>2 April, 2020</span>-->
    <!--                            <span></span>-->
    <!--                        </div>-->
                        </div>
                        <div class="post-info">
                            <h4>Devfolio</h4>
                                <b></b><li>Visit: <a href="https://devfolio.co/home/"><b>Devfolio</b></a></li>
                            </ul>
                            <p></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-lg-4">
                    <div class="post-box">
                        <div class="post-thumb">
                            <img src="mainimages/Blog.jpeg" class="img-fluid" alt="post-img" />

                        </div>
                        <div class="post-info">
                            <h4>Another sponsor</h4>
                            <ul>
                                <li><a href="#"><b></b></a></li>
                            </ul>
                            <p></p>
                        </div>
                    </div>
                </div>
    <!--            <div class="col-md-4 col-sm-6 col-lg-4">-->
    <!--                <div class="post-box">-->
    <!--                    <div class="post-thumb">-->
    <!--                        <img src="Blog.jpeg" class="img-fluid" alt="post-img" />-->
    <!--                        <div class="date">-->
    <!--                            <span>3 April, 2020</span>-->
    <!--                            <span></span>-->
    <!--                        </div>-->
    <!--                    </div>-->
    <!--                    <div class="post-info">-->
    <!--                        <h4>Hyper Automation</h4>-->
    <!--                        <ul>-->
    <!--                            <li>by Debjit</li>-->
    <!--                            <li>-->
    <!--                                Hyper-automation “deals with the application of advanced technologies,-->
    <!--                                including AI and ML, to increasingly automate processes and augment humans.-->
    <!--                            </li>-->
    <!--                            <li><a href="#"><b>Source: Google</b></a></li>-->
    <!--                        </ul>-->
    <!--                        <p></p>-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--            </div>-->
            </div>
    
        </div>
    </div>

    <div class="copyrights">
    <div class="container">
        <div class="footer-distributed">
            <a href="#"><img src="" alt="" /></a>
            <div class="footer-center">
                <p class="footer-company-name"><h1><b>Dynamics (Project Oriented Community)</b></h1></p>
                <p class="footer-links">
                    <a href="index.html">Home</a>
                    <a href="about.html">About US</a>
                    <a href="portfolio.html">Portfolio</a>
                    <a href="project.html">Projects & Achievements</a>
                    <a href="events.html">Events</a>
                    <a href="recruitment.html">Recruitments</a>
                    <a href="team.html">Our Team</a>
                    <a href="contactus.html">Contact Us</a>
                </p>
                <p class="footer-company-name">All Rights Reserved. &copy; 2020  <a href="http://sit.ac.in/html/home.html">Siddaganga Institute of Technology</a></p>
            </div>
        </div>
    </div>
</div>

    <a href="#" id="scroll-to-top" class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>

    
    <script src="js/all.js"></script>
	<script src="js/jquery.mobile.customized.min.js"></script>
	<script src="js/jquery.easing.1.3.js"></script> 
	<script src="js/parallaxie.js"></script>
	<script src="js/headline.js"></script>
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>
    <script src="js/custom.js"></script>
    <script src="js/jquery.vide.js"></script>
    <script src="js/devfolio.js"></script>

</body>
</html>